<h1>Sample App</h1>

<p>Привіт, <%= @user.name %>!</p>

<p>Ласкаво просимо в Навчальний Додаток! Перейдіть по посиланню для активації облікового запису:</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>

